@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #694F8E;
    --secondary-color: #B692C2;
    --tertiary-color: #E3A5C7;
    --quaternary-color: #F3C7E4;
    --title: 'Playwrite AT', sans-serif;
    --text: 'Roboto', sans-serif;
}

.navbar-title {
    color: var(--quaternary-color);
    font-family: var(--title);
    font-size: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    align-items: center;
    padding: 1rem;
}